@page

@model Simbora04.Models.Usuarios
@{
}
<head>
    <link rel="stylesheet" href="/css/perfilUsuarios.css" />
</head>

<body>
    <div class="loginbox">
        <h1> Bem vindo, @Html.DisplayFor(model => model.Nome)</h1>







    </div>


</body>