@model Simbora.Models.Sugestao

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="/css/usuarios.css" />

</head>
<body>
    <div class="loginbox">
        <h1>Sugestão</h1>
        <form asp-action="Create">

            <textarea placeholder="Deixe seu comentário aqui!" class="text-area" asp-for="Sugestoes"></textarea>
            <span asp-validation-for="Sugestoes" class="text-danger"></span>
            <br />
            <input type="submit" name="" value="Deixar feedback">

        </form>
        <div class="container">
            <main role="main" class="pb-3">

            </main>
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
