<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style\style.css">
    </head>
<body>
    <div class="center">
        <h1>Simbora</h1>
       <form>
        <div class="btns" id="iniciar">
        <button class="btn">Iniciar</button>
    </div>
    <div class="btns" id="sugestoes">
        <button class="btn">Sugestões</button>
    </div>
    </form>


    </div>


</body>
</html>