@model Simbora.Models.Usuarios

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simbora</title>

    <link rel="stylesheet" href="/css/usuarios.css" />

</head>
<div class="loginbox">
    <img src="~/css/avatar.jpg" class="avatar">
    <h1>Cadastro de Usuário</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p asp-for="Nome">Email</p>
        <input type="text" name="" placeholder="Email" asp-for="Nome">
        <span asp-validation-for="Nome" class="text-danger"></span>
        <p>Senha</p>
        <input type="password" name="" placeholder="Senha" asp-for="Senha">
        <span asp-validation-for="Senha" class="text-danger"></span>
        <p>Confirme a senha</p>
        <input type="password" name="" placeholder="Confirme a senha" asp-for="ConfirmaçãdeSenha">
        <span asp-validation-for="ConfirmaçãdeSenha" class="text-danger"></span>
        <input type="submit" name="" value="Criar Conta">
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
