body {
    display: grid;
    grid-gap: 1px;
    grid-template-areas:
        "logo search login"
        "menu main main"
        "menu main main"
        "menu main main"
        "menu main main"
        "menu main main"
        "footer footer footer";

    grid-template-columns: 202px 70% auto;
    grid-template-rows: 155px 4vh 4vh 4vh 4vh auto 15vh;

    background-color: gray; 
}

p {margin: 0;}

input:invalid {
    border: 1px solid black;
}

input:invalid {
    border: 2px solid red
}

.o-menu {
    white-space: nowrap; 
    background-color: rgb(255, 153, 102)
}

.o-main {grid-area: main;}
.o-con {grid-area: cons;} 
.o-labs {grid-area: labs;}
.o-news {grid-area: news;}
.o-about {grid-area: about;}
.o-menu {grid-area: menu;}
.o-logo {grid-area: logo;}
.o-login {grid-area: login;}
.o-search {grid-area: search;}

.o-con, .o-labs, .o-news, .o-about {
    background-color: rgb(255, 153, 102);
    box-shadow: 2px 2px rgb(255, 51, 0);
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    margin-top: 2px;
    white-space: normal;
}

.o-search, .o-footer, .o-logo, .o-login {
    text-indent: 0;
    background-color: black;
    color: white;
}

.o-search, .o-logo, .o-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    list-style: none;
    padding: 0;
}

.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.form-row input{
    flex: 1;
}

.o-footer {
    grid-area: footer;
    text-align: center;
}

.o-search input{
    border: none;
    font-size: 17px;
}

.o-search input[type=text] {
    width: 80%;
}

.clickable {
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
    color: white;
    font-weight: bold;
}

.form-line {
    height: 23px;
    display: block;
    width: 100%;
    padding-left: 10%;
    transform: translate(0, 100%);
    overflow: auto;
}

#content {
    width: 100%;
    min-height: 55vh;
}