body {
    background-color: white;
    height: auto;
}

p {margin: 0;}

.help {cursor: help;}
.clickable {cursor: pointer;}

.container {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    min-width: 500px;
    border: 3px double;
    border-radius: 15px;
}

.form-line { /* TODO: obsoleto?*/
    position: relative;
    display: grid;
    column-gap: 4px;
    width: 100%;
    padding-left: 10px;
    /*padding-top: 5px;
    /*padding-bottom: 5px;*/
}

.btn {
    border: hidden;
    border-radius: 10px;
}

.login-btn, .save-btn {
    color:white;
    background-color: rgb(62, 98, 255);
}

.del-btn {
    color:white;
    background-color: rgb(255, 62, 62);
}

.wrapper {
    background-color: whitesmoke;
    list-style: none;
    padding: 0;
    border-radius: 3px;
}

.form-row {
    display: flex;
    justify-content: center;
    padding: .3em;
}

.form-row input::placeholder {
    color: red;
    opacity: 1;
}

.form-row > label {
    flex: 1;
}

input:invalid {
    border: 1px solid black;
}

input:invalid {
    border: 2px solid red
}

#content {
    display: grid;
    justify-content: left;
    border-top: 1px solid black;
}

#tools {
    display: flex;
    justify-content: right;
    margin-bottom: 4px;
    column-gap: 4px;
    overflow: auto;
}

/* Tabelas de certificação */
#cert-content {
    border-top: 1px solid black;
}

table {
    margin-top: 4px;
    table-layout: fixed;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: left;
    border-collapse: collapse;
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
}

td, tr, th {
    padding: 4px;
}

th {
    background-color: rgb(59, 59, 59);
    color: white;
}

tr:nth-child(odd){background-color:rgb(210, 210, 210);}
/*tr:hover {background-color: rgb(180, 180, 180);}*/

#cert-content input, button {
    width: 100%;
}
